/* 예제 */

/* @import url('./theme.css');


.box{
@@ -7,11 +8,11 @@


.card{
  background-color: dodgerblue;
  background-color: var(--primary);
}


p{
  background-color: red;
  background-color: var(--secondary);
  font-size: 2rem;
} */
